/* <----------------------------------------------------------- Normal CSS ----------------------------------------------------------------> */

.text_color_chimp {
    color: var(--chimp_text_color);
}

.opac_90 {
    opacity: 90%;
}

/* <----------------------------------------------------------- Backimages or BackColor ----------------------------------------------------------------> */

.back_image_header {
    background-image: url("../images/PNG/hero_sec_back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bac_color_navBar {
    background: var(--navBar_back_lg);
}

.back_col_lg {
    backdrop-filter: blur(3px);
}

/* <----------------------------------------------------------- width and height ----------------------------------------------------------------> */

.svg_box_nav_bar {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
}

/* image width height settings */
.wh_chimp_img {
    max-width: 530px;
    min-height: 500px;
}

/* <-----------------------------------------------------------spacings ----------------------------------------------------------------> */


.gap_media_navTabs {
    gap: 46px;
}

.gap_media_navItems {
    gap: 32px;
}

.gap_betw {
    gap: 60px;
}

/* <-----------------------------------------------------------btn changes ----------------------------------------------------------------> */

.Btn_navBar {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid transparent;
    background: var(--yellowish_color);
    border-radius: 36px;
}

/* <----------------------------------------------------------- positions ----------------------------------------------------------------> */

.pos_bottom_layer_hero {
    bottom: 0;
    left: 0;
    position: absolute;
}

/* <-----------------------------------------------------------  Hover Effects ----------------------------------------------------------------> */

/* <----------------------------------------------------------- before and after ----------------------------------------------------------------> */

/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Keyframes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Progress ----------------------------------------------------------------> */

/* <----------------------------------------------------------- slider changes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- z-indexes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Accordion ----------------------------------------------------------------> */

/* <----------------------------------------------------------- animated menuicon ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */