/* <----------------------------------------------------------- Normal CSS ----------------------------------------------------------------> */

.text_color_chimp {
    color: var(--chimp_text_color);
}

.opac_90 {
    opacity: 90%;
}

.opac_70 {
    opacity: 70%;
}

.sec_back_clr {
    background: var(--sec_back_color);
}

.text_roadmap_clr {
    color: var(--roadmap_text_color);
}

.text_color_team {
    color: var(--text_color_team) !important;
}

.line {
    width: 100%;
    height: 1px;
    background: #FF9F00;
    opacity: 40%;
}

/* <----------------------------------------------------------- Backimages or BackColor ----------------------------------------------------------------> */

.back_image_header {
    background-image: url("../images/PNG/hero_sec_back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.team_bg_img {
    background-image: url("../images/PNG/team_bg_img.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bac_color_navBar {
    background: var(--navBar_back_lg);
}

.back_col_lg {
    backdrop-filter: blur(3px);
}

.footer_back_img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/PNG/footer_back_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    top: 0;
    left: 0;
}

.footer_back_img::before {
    content: "";
    position: absolute;
    background: var(--sec_back_color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* <----------------------------------------------------------- width and height ----------------------------------------------------------------> */
.max_w_footer {
    max-width: 598px;
}

.svg_box_nav_bar {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    transition: all 300ms linear;
}

.dot_roadmap {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--color-white);
}

.team_box {
    max-width: 657px;
    border-radius: 16px;
    border: 1px solid var(--team_border);
    padding: 19px 30px 19px 20px;
    background: #FFFFFF05;
    backdrop-filter: blur(5px);
}

.company_box {
    max-width: 220px;
    min-height: 88px;
    padding: 13.48px 3.01px 12.51px 3.99px;
    border-radius: 6px;
    border: 1px solid #FFFFFF3D;
    background: #FFFFFF0F;
}

.takenomic_box {
    max-width: 558px;
    padding: 34.5px 30px 34.5px 72px;
    border-radius: 16px;
    border: 1px solid #FFFFFF3D;
    background: #FFFFFF05;
}

/* image width height settings */
.wh_chimp_img {
    max-width: 530px;
    min-height: 500px;
}

.wh_dots {
    width: 227px;
    height: 4px;
}

/* <-----------------------------------------------------------spacings ----------------------------------------------------------------> */

.gap_bet_text_img {
    gap: 34px;
}

.mb_media_buy_text {
    margin-bottom: 105px;
}

.mt_media_text_3 {
    margin-top: 60px;
}

.mt_media_col {
    margin-top: 40px;
}

.my_text_footer {
    margin-top: 55px;
    margin-bottom: 44px;
}

.mt_media_team {
    margin-top: 40px;
}

.pt_media_footer_image {
    padding-top: 60px;
}

.mt_media_items {
    margin-top: 32px;
}

.pb_media_text_road {
    padding-bottom: 80px;
}

.-mt-2 {
    margin-top: -8px;
}

.gap_media_roadmap {
    gap: 55px;
}

.gap_media_navTabs {
    gap: 46px;
}

.gap_media_navItems {
    gap: 32px;
}

.gap_betw {
    gap: 60px;
}

.gap_media_roadmap_text {
    gap: 10px;
}

.padding_box_road {
    padding-top: 9px;
    padding-right: 43px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.pb_media_text {
    padding-bottom: 60px;
}

.pb_media_text_part {
    padding-bottom: 60px;
}

.padding_col {
    padding: 32px 8px 32px 8px;
}

/* spacing between sections */

.py_about {
    padding-top: 180px;
    padding-bottom: 174px;
}

.py_roadmap {
    padding-top: 180px;
    padding-bottom: 149px;
}

.py_team {
    padding-top: 31px;
    padding-bottom: 108px;
}

.py_partner {
    padding-top: 82px;
    padding-bottom: 73px;
}

.py_partner {
    padding-top: 104px;
    padding-bottom: 180px;
}

.py_takenomics {
    /* padding-top: 104px; */
    padding-bottom: 180px;
}

.py_faq {
    padding-bottom: 160px;
}

/* <-----------------------------------------------------------btn changes ----------------------------------------------------------------> */

.btn {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    /* height: 3em; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    /* margin: 1em; */
}

.btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn:hover {
    color: black;
}

.btn:hover span {
    transform: translateY(0) scale(2);
}

.btn span:nth-child(1) {
    --n: 1;
}

.btn span:nth-child(2) {
    --n: 2;
}

.btn span:nth-child(3) {
    --n: 3;
}

.btn span:nth-child(4) {
    --n: 4;
}

ol,
ul {
    padding-left: 0;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

/* <----------------------------------------------------------- positions ----------------------------------------------------------------> */

.pos_bottom_layer_hero {
    bottom: 0;
    left: 0;
    position: absolute;
}

.layer_partner_pos {
    bottom: 0;
    left: 0;
}

.svg_roadmap_box {
    border: 1px solid var(--roadmap_sec_color);
    padding: 26px;
    border-radius: 50%;
    background: #FFFFFF14;
}

.after_image {
    position: relative;
}

.after_image_2 {
    position: relative;
}

.pos_hero_img {
    left: -51px;
}

.pos_circle_image_1 {
    bottom: -270px;
    right: -125px;
    width: 128px;
    height: 128px;
}

.pos_circle_image_2 {
    bottom: -270px;
    left: -64px;
    width: 128px;
    height: 128px;
}

.pos_circle_image_3 {
    bottom: -188px;
    right: 414px;
    width: 128px;
    height: 128px;
}

.pos_circle_image_4 {
    width: 128px;
    height: 128px;
    bottom: -141px;
    right: 300px;
}

/* ellipse */

.ellipse_1_pos_right {
    right: 0;
    bottom: -50%;
}

.ellipse_1_pos_right_1 {
    right: 0;
    top: -50%;
}

.ellipse_1_pos_left {
    left: 0;
    bottom: -27%;
}

.ellipse_pos_right_buy {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ellipse_pos_left_roadmap {
    left: 0;
    top: -45%;
}

.ellipse_pos_right_roadmap {
    right: 0;
    bottom: -45%;
    z-index: 2;
}

.ellipse_pos_left_team {
    left: 0;
    top: -50%;
    z-index: 2;
}

.ellipse_pos_right_partner {
    right: 0;
    bottom: 15%;
}

.ellipse_pos_left_partner {
    left: 0;
    bottom: -40%;
}

.ellipse_pos_right_token {
    right: 0;
    top: -50%;
}

.ellipse_pos_left_token {
    left: 0;
    bottom: -25%;
}

.ellipse_pos_right_faq {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.layer_token_pos {
    bottom: 0;
    left: 0;
}

.ellipse_pos_left_footer {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 309px;
    height: 309px;
    z-index: 3;
}

/* <-----------------------------------------------------------  Hover Effects ----------------------------------------------------------------> */

.svg_box_nav_bar:hover {
    background: var(--yellowish_color);
}

.nav_link {
    transition: all 300ms linear;
}

.nav_link:hover {
    opacity: 100%;
}

/* <----------------------------------------------------------- before and after ----------------------------------------------------------------> */

.after_image::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 350.37px;
    height: 123.23px;
    background-image: url("../images/PNG/roadmap_after.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.after_image_2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 350.37px;
    height: 123.23px;
    background-image: url("../images/PNG/phase_2_after_roadmap.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.after_img_2_buy::after {
    content: "";
    position: absolute;
    background-image: url("../images/PNG/bandar_image_after_2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 175px;
    height: 232px;
    bottom: -205px;
    right: -125px;
}

.after_img_3_buy::after {
    content: "";
    position: absolute;
    background-image: url(../images/PNG/bandar_image_after_3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 175px;
    height: 232px;
    bottom: -202px;
    right: 276px;
}

.after_img_1_buy::after {
    content: "";
    position: absolute;
    background-image: url(../images/PNG/bandar_image_after_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 256px;
    height: 175px;
    bottom: -188px;
    right: 471px;
}

.after_img_4_buy::after {
    content: "";
    position: absolute;
    background-image: url(../images/PNG/bandar_image_after_4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 371px;
    height: 175px;
    bottom: -153px;
    right: 109px;
}




/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
    z-index: 11;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px -3px #3B945E;
}

/* <----------------------------------------------------------- Keyframes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Progress ----------------------------------------------------------------> */

/* <----------------------------------------------------------- slider changes ----------------------------------------------------------------> */

/* <----------------------------------------------------------- z-indexes ----------------------------------------------------------------> */

.z-10 {
    z-index: 10;
}

/* <----------------------------------------------------------- Accordion ----------------------------------------------------------------> */

.brdr {
    border-bottom: 1px solid var(--light-black-clr);
}

.disp_text {
    display: none;
    max-width: 786px;
}

.accoridon_items {
    background: #FFFFFF0F;
    border: 1px solid #FFFFFFB8;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
}

.bordr_change {
    border: 1px solid #00A600 !important;
}

.fill_change path {
    fill: #00A600 !important;
}

.text_change {
    color: #00A600 !important;
}

.click_btn {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* <----------------------------------------------------------- animated menuicon ----------------------------------------------------------------> */

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */